server:
  port: 8081
spring:
  application:
    name: mscostumer
  datasource:
    url: jdbc:postgresql://localhost:5432/banco
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true